/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.rounded{
  border-radius: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: rgb(97, 218, 251);
}

/* ######################## header ######################## */
header{
  padding: 30px 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: whitesmoke;
  position: relative;
}
header nav{
  width: 40%;
}
header .logo-div{
  width: 30%;
}
header nav ul{
  height: 100%;
}

/* ######################## footer ######################## */
footer{
  padding: 50px 60px 20px 60px;
  display: flex;
  color: whitesmoke;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .ul-div{
  gap: 120px;
}
footer .mission-div{
  margin-bottom: 30px;
  text-align: center;
  padding: 0 20px;
  width: 20%;
}
footer .form-div{
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
footer .form-div h1{
  margin-bottom: 20px;
  text-transform: uppercase;
  width: 100%;
}
footer .form-div .input-div{
  display: flex;
  justify-content: center;
} 
footer .form-div button,
footer .form-div input{
  box-sizing: border-box;
  padding: 15px;
  border: none;
}
footer .form-div input{
  outline: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
footer .form-div button{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
footer .socialmedia-div{
  display: flex;
  list-style: none;
  padding: 30px 0;
  width: 100%;
  gap: 20px;
}
footer .form-div .socialmedia-div img{
  width: 40px;
}
footer .copyright-div{
  width: 100%;
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  box-sizing: border-box;
}